---
layout: default
title: Categorías
permalink: /categories/
---
<div class="categories-page">
  <h1>Categorías</h1>
  <div class="category-list">
    {% assign sorted_cats = site.categories | sort %}
    {% for category in sorted_cats %}
      <section class="category-section" id="{{ category[0] | slugify }}">
        <h2 class="category-name">
          {{ category[0] }}
          <span class="category-count">{{ category[1].size }}</span>
        </h2>
        <ul class="category-posts">
          {% for post in category[1] %}
            <li>
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
              <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %b %Y" }}</time>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}
  </div>
</div>
